<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Můj eshopíček</title>
</head>
<body>
    @layout Front lattéčko
    <div n:foreach="$flashes as $flash" n:class="flash, $flash->type">
	    {$flash->message}
    </div>
    {include content}
    <a n:if="!$user->isLoggedIn()" n:href=":Admin:Sign:in">Přihlásit se</a>
    <a n:if="$user->isLoggedIn()" n:href=":Admin:Sign:out">Odhlásit se kompletně!</a>
</body>
</html>